body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

form {
  background-color: #FFFFFF;
  padding: 5px;
}

.teus {
  margin-top: 5px;
  margin-bottom: 5px;
}

input[type='text'] {
  background-color: #FFFFFF;
  border: none;
  border-radius: 0;
  border-bottom-width: 1px;
  border-bottom-color: black;
  border-bottom-style: solid;
}

.item-create {
  margin: 0 0 7px 0;
  font-size: 0.8em;
}

.identity {
  display: grid;
  grid-auto-flow: column;
  grid-template-areas: "picture name name" "picture age birthdate" "picture birthplace ambition" "picture richness blood";
}

.identity div {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: left;
}

.identity label {
  padding-right: 7px;
}

.container input, .container select {
  max-width: 60%;
  margin: 0;
  padding: 0;
}

#picture-box {
  grid-area: picture;
}

#age-box {
  grid-area: age;
}

#name-box {
  grid-area: name;
  font-size: 130%;
  font-weight: bold;
}

#blood-box {
  grid-area: blood;
}

#richness-box {
  grid-area: richness;
}

#ambition-box {
  grid-area: ambition;
}

#birthdate-box {
  grid-area: birthdate;
}

#birthplace-box {
  grid-area: birthplace;
}

.main-picture {
  min-height: 150px;
  min-width: 150px;
}

.school-card {
  margin: 0.5em 0 0.5em 0;
  display: grid;
  row-gap: 2px;
  column-gap: 2px;
  grid-auto-flow: column;
  grid-template-columns: 5fr 14fr 2fr;
  grid-template-areas: "schoolname schoolshortdesc schoolcontrols" "schoolyear schoolshortdesc schoolcontrols";
}

.school-card .card-name {
  grid-area: schoolname;
}

.school-card .card-year {
  grid-area: schoolyear;
}

.card-name, .card-year {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.card-name label, .card-year label {
  padding-right: 3px;
}

.school-card .card-short-description {
  grid-area: schoolshortdesc;
}

.card-short-description p {
  margin: 0.1em;
  justify-content: left;
  text-align: justify;
}

.school-card .card-controls {
  grid-area: schoolcontrols;
  display: flex;
  justify-content: center;
  align-items: center;
}

.capacity-container {
  border-bottom: 1px solid var(--color-underline-header);
  font-weight: bold;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 40px;
}
.capacity-container div {
  text-align: center;
}
.capacity-container input {
  width: 15%;
}
.capacity-container #energy-box label {
  color: #283C14;
}
.capacity-container #erudition-box label {
  color: #0000FF;
}
.capacity-container #friends-box label {
  color: #FF0000;
}

.attributes-container {
  padding-top: 10px;
  display: grid;
  grid-template-areas: ". . . . spirit spirit spirit . . . ." ". . . bluff bluff . stamina stamina . . ." ". . farce farce . . . fight fight . ." ". tactic tactic . magic magic magic . perception perception ." "rumor rumor . . magic magic magic . . precision precision" "heart . . . . . . . . . body" "decorum decorum . stealth stealth . persuasion persuasion . relational relational";
  grid-auto-rows: 45px;
}
.attributes-container div {
  text-align: center;
}
.attributes-container input {
  width: 25%;
}
.attributes-container #magic-box {
  grid-area: magic;
  font-weight: bold;
}
.attributes-container #spirit-box {
  grid-area: spirit;
  color: #0000FF;
  font-weight: bold;
}
.attributes-container #heart-box {
  grid-area: heart;
  color: #FF0000;
  font-weight: bold;
}
.attributes-container #body-box {
  grid-area: body;
  color: #283C14;
  font-weight: bold;
}
.attributes-container #magic-box {
  color: #442265;
}
.attributes-container #bluff-box {
  grid-area: bluff;
}
.attributes-container #farce-box {
  grid-area: farce;
}
.attributes-container #tactic-box {
  grid-area: tactic;
}
.attributes-container #rumor-box {
  grid-area: rumor;
}
.attributes-container #stamina-box {
  grid-area: stamina;
}
.attributes-container #fight-box {
  grid-area: fight;
}
.attributes-container #perception-box {
  grid-area: perception;
}
.attributes-container #precision-box {
  grid-area: precision;
}
.attributes-container #decorum-box {
  grid-area: decorum;
}
.attributes-container #stealth-box {
  grid-area: stealth;
}
.attributes-container #persuasion-box {
  grid-area: persuasion;
}
.attributes-container #relational-box {
  grid-area: relational;
}

.sheettabs {
  display: grid;
  grid-template-areas: "tabcarac tabtraits tabsubjects tabspells tabpotions tabinventory" "currenttab currenttab currenttab currenttab currenttab currenttab";
  grid-template-columns: repeat(6, 1fr);
}
.sheettabs label[for=sheettabcarac] {
  grid-area: tabcarac;
}
.sheettabs label[for=sheettabtraits] {
  grid-area: tabtraits;
}
.sheettabs label[for=sheettabsubjects] {
  grid-area: tabsubjects;
}
.sheettabs label[for=sheettabspells] {
  grid-area: tabspells;
}
.sheettabs label[for=sheettabpotions] {
  grid-area: tabpotions;
}
.sheettabs label[for=sheettabinventory] {
  grid-area: tabinventory;
}
.sheettabs .tablabel {
  order: 1;
  margin: 0 1px 0 1px;
  border-bottom: 1px solid var(--color-underline-header);
  border-radius: 10px 10px 0 0;
  cursor: pointer;
  height: 23px;
  font-size: 1.1em;
  text-align: center;
  background: #D3D3D3;
}
.sheettabs .sheettab {
  order: 99;
  width: 100%;
  display: none;
}
.sheettabs input[name=sheettab] {
  display: none;
}
.sheettabs input[name=sheettab]:checked + .tablabel + .sheettab {
  display: block;
  grid-area: currenttab;
}
.sheettabs input[name=sheettab]:checked + .tablabel {
  background-color: #FFD700;
}

.editor {
  height: auto;
  min-height: 90px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}
/*# sourceMappingURL=sheet.css.map */
