@import "base/variables";
@import "components/caracteristics";

body {
    box-sizing: border-box;
}

form {
    background-color: #FFFFFF;
    padding: 5px;
}

.teus {
    margin-top: 5px;
    margin-bottom: 5px;
}

.identity {
    display: grid;
    grid-template-columns: 3fr 1fr 3fr;
    grid-template-areas:
    "birthdate . birthplace"
    "richness . blood"
    "ambition . .";
    grid-auto-rows: 40px;

    #ambition-box {
        grid-area: ambition;
    }

    #birthdate-box {
        grid-area: birthdate;
    }

    #birthplace-box {
        grid-area: birthplace;
    }

    #blood-box {
        grid-area: blood;
    }

    #richness-box {
        grid-area: richness;
        input {
            width: 15%;
        }
    }

    input, select {
        width: 40%;
    }

    div {
        text-align: center;
    }
}

.wand-container {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;

    div {
        text-align: center;
    }

    #wandwood, #wandheart {
        width: 65%;
    }

    #wandlength {
        width: 30%;
    }
}

.sheettabs {
    display: grid;
    grid-template-areas:
    "tabcarac tabtraits tabsubjects tabspells tabpotions"
    "currenttab currenttab currenttab currenttab currenttab";
    grid-template-columns: repeat(5, 1fr);

    label[for="sheettabcarac"] {
        grid-area: tabcarac;
    }

    label[for="sheettabtraits"] {
        grid-area: tabtraits;
    }

    label[for="sheettabsubjects"] {
        grid-area: tabsubjects;
    }

    label[for="sheettabspells"] {
        grid-area: tabspells;
    }

    label[for="sheettabpotions"] {
        grid-area: tabpotions;
    }

    .tablabel {
        order: 1;
        margin: 0 1px 0 1px;
        border-bottom: 1px solid var(--color-underline-header);
        border-radius: 15px 15px 0 0;
        cursor: pointer;
        height: 30px;
        font-size: 1.5em;
        text-align: center;
    }

    .sheettab {
        order: 99;
        width: 100%;
        display: none;
    }

    input[name="sheettab"] {
        display: none;
    }

    input[name="sheettab"]:checked + .tablabel + .sheettab {
        display: block;
        grid-area: currenttab;
    }

    input[name="sheettab"]:checked + .tablabel {
        background-color: #FFD700;
    }
}
