<section class="{{cssClass}} spells">
    <a class="item-create" data-type="spell" title="{{localize "teus.spells.add"}}">
        <i class="fa fa-plus">{{localize "teus.spells.add"}}</i>
    </a>
    <table class="spells">
        <tr>
            <th>{{localize "teus.commons.name"}}</th>
            <th>{{localize "teus.spells.formula"}}</th>
            <th>{{localize "teus.spells.type"}}</th>
            <th>{{localize "teus.commons.level"}}</th>
            <th>{{localize "teus.spells.targets"}}</th>
            <th>{{localize "teus.commons.mastered"}}</th>
            <th>{{localize "teus.spells.favorite"}}</th>
            <th></th>
        </tr>
        {{#each spells as |spell id|}}
        <tr class="item in-sheet-item spell item-id" data-item-id="{{spell._id}}">
            <td><input class="item-field name inline-edit" data-field="name" type="text" value="{{spell.name}}"/></td>
            <td><p class="item-field formula">{{spell.system.formula}}</p></td>
            <td><p class="item-field type">{{localize (lookup ../config.choices.spelltypes spell.system.type)}}</p></td>
            <td><p class="item-field level">{{spell.system.level}}</p></td>
            <td><p class="item-field targets">{{spell.system.targets}}</p></td>
            <td><input class="item-field mastered" type="checkbox" disabled="true" {{checked spell.system.mastered}} /></td>
            <td><input class="item-field favorite" type="checkbox" disabled="true" {{checked spell.system.favorite}} /></td>
            <td class="item-field item-controls">
                <a class="item-open">
                    <i class="fas fa-edit"></i>
                </a>
                <a class="item-delete">
                    <i class="fas fa-trash"></i>
                </a>
            </td>
        </tr>
        {{/each}}
    </table>
</section>