<section class="{{cssClass}} inventory">
    <a class="item-create" data-type="inventory-item" title="{{localize "teus.inventory.add"}}">
        <i class="fa fa-plus">{{localize "teus.inventory.add"}}</i>
    </a>
    <table class="inventory">
        <tr>
            <th>{{localize "teus.commons.name"}}</th>
            <th>{{localize "teus.commons.description"}}</th>
            <th>{{localize "teus.inventory.quantity"}}</th>
            <th></th>
        </tr>
        {{#each inventoryItems as |item id|}}
        <tr class="item in-sheet-item inventory-item item-id" data-item-id="{{item._id}}">
            <td><input class="item-field name inline-edit" data-field="name" type="text" value="{{name}}" /></td>
            <td><p class="item-field description">{{{item.system.description}}}</p></td>
            <td><p class="item-field price">{{item.system.quantity}}</p></td>
            <td class="item-field item-controls">
                <a class="item-open">
                    <i class="fas fa-edit"></i>
                </a>
                <a class="item-delete">
                    <i class="fas fa-trash"></i>
                </a>
            </td>
        </tr>
        {{/each}}
    </table>
</section>