<a class="item-create" data-type="school" title="{{localize "teus.schools.add"}}">
    <i class="fa fa-plus">{{localize "teus.schools.add"}}</i>
</a>
{{#each schools as |school id|}}
    <div class="item in-sheet-item school-card item-id" data-item-id="{{school._id}}">
        <div class="card-name">
            <label for="school-name-{{school._id}}">{{localize "teus.schools.name"}}: </label>
            <input id="school-name-{{school._id}}" class="item-field name inline-edit" data-field="name" type="text" value="{{name}}">
        </div>
        <div class="card-year">
            <label for="school-year-{{school._id}}">{{localize "teus.schools.year"}}: </label>
            <p id="school-year-{{school._id}}">{{school.system.year}}</p>
        </div>
        <div class="card-short-description">
            {{{school.system.short_description}}}
        </div>
        <div class="item-field item-controls card-controls">
            <a class="item-open">
                <i class="fas fa-edit"></i>
            </a>
            <a class="item-delete">
                <i class="fas fa-trash"></i>
            </a>
        </div>
    </div>
{{/each}}