<section class="{{cssClass}} friendcards">
    <a class="item-create" data-type="friendcard" title="{{localize "teus.friendcards.add"}}">
        <i class="fa fa-plus">{{localize "teus.friendcards.add"}}</i>
    </a>
    <table class="friendcards">
        <tr>
            <th>{{localize "teus.commons.name"}}</th>
            <th>{{localize "teus.friendcards.traits"}}</th>
            <th>{{localize "teus.friendcards.special"}}</th>
            <th></th>
        </tr>
        {{#each friendcards as |friendcard id|}}
        <tr class="item in-sheet-item friendcard item-id" data-item-id="{{friendcard._id}}">
            <td><input class="item-field name inline-edit" data-field="name" type="text" value="{{name}}" /></td>
            <td><p class="item-field description">{{{friendcard.system.traits}}}</p></td>
            <td><input class="item-field" type="checkbox" disabled="true" {{checked friendcard.system.special}} /></td>
            <td class="item-field item-controls">
                <a class="item-open">
                    <i class="fas fa-edit"></i>
                </a>
                <a class="item-delete">
                    <i class="fas fa-trash"></i>
                </a>
            </td>
        </tr>
        {{/each}}
    </table>
</section>