<section class="{{cssClass}} features">
    <a class="item-create" data-type="feature" title="{{localize "teus.features.add"}}">
        <i class="fa fa-plus">{{localize "teus.features.add"}}</i>
    </a>
    <div class="feature">
        <label for="system.maxeveil">{{localize "teus.scolarity.eveil"}} : </label>
        <p class="eveil">{{system.eveil}} / </p>
        <input id="system.maxeveil" name="system.maxeveil" type="text" value="{{system.maxeveil}}" data-dtype="Number" />
    </div>
    <table class="features">
        <tr>
            <th>{{localize "teus.commons.name"}}</th>
            <th>{{localize "teus.commons.description"}}</th>
            <th>{{localize "teus.features.price"}}</th>
            <th></th>
        </tr>
        {{#each features as |feature id|}}
        <tr class="item in-sheet-item feature item-id" data-item-id="{{feature._id}}">
            <td><input class="item-field name inline-edit" data-field="name" type="text" value="{{name}}" /></td>
            <td><p class="item-field description">{{{feature.system.description}}}</p></td>
            <td><p class="item-field price">{{feature.system.price}}</p></td>
            <td class="item-field item-controls">
                <a class="item-open">
                    <i class="fas fa-edit"></i>
                </a>
                <a class="item-delete">
                    <i class="fas fa-trash"></i>
                </a>
            </td>
        </tr>
        {{/each}}
    </table>
</section>