    <a class="item-create" data-type="wand" title="{{localize "teus.wands.add"}}">
        <i class="fa fa-plus">{{localize "teus.wands.add"}}</i>
    </a>
    <table class="wands">
        <tr>
            <th>{{localize "teus.wands.wood"}}</th>
            <th>{{localize "teus.wands.length"}}</th>
            <th>{{localize "teus.wands.heart"}}</th>
            <th>{{localize "teus.wands.flexibility"}}</th>
            <th></th>
        </tr>
        {{#each wands as |wand id|}}
        <tr class="item in-sheet-item wand item-id" data-item-id="{{wand._id}}">
            <td><p class="item-field">{{wand.system.wood}}</p></td>
            <td><p class="item-field">{{wand.system.length}}</p></td>
            <td><p class="item-field">{{wand.system.wheart}}</p></td>
            <td><p class="item-field">{{wand.system.flexibility}}</p></td>
            <td class="item-field item-controls">
                <a class="item-open">
                    <i class="fas fa-edit"></i>
                </a>
                <a class="item-delete">
                    <i class="fas fa-trash"></i>
                </a>
            </td>
        </tr>
        {{/each}}
    </table>
