<section class="{{cssClass}} potions">
    <a class="item-create" data-type="potion" title="{{localize "teus.potions.add"}}">
        <i class="fa fa-plus">{{localize "teus.potions.add"}}</i>
    </a>
    <table class="potions">
        <tr>
            <th>{{localize "teus.commons.name"}}</th>
            <th>{{localize "teus.commons.effect"}}</th>
            <th>{{localize "teus.commons.level"}}</th>
            <th>{{localize "teus.commons.mastered"}}</th>
            <th></th>
        </tr>
        {{#each potions as |potion id|}}
        <tr class="item in-sheet-item potion item-id" data-item-id="{{potion._id}}">
            <td><input class="item-field name inline-edit" data-field="name" type="text" value="{{potion.name}}"/></td>
            <td><p class="item-field effect">{{{potion.system.effect}}}</p></td>
            <td><p class="item-field level">{{potion.system.level}}</p></td>
            <td><input class="item-field mastered" type="checkbox" disabled="true" {{checked potion.system.mastered}} /></td>
            <td class="item-field item-controls">
                <a class="item-open">
                    <i class="fas fa-edit"></i>
                </a>
                <a class="item-delete">
                    <i class="fas fa-trash"></i>
                </a>
            </td>
        </tr>
        {{/each}}
    </table>
</section>