<section class="{{cssClass}} subjects">
    <a class="item-create" data-type="subject" title="{{localize "teus.subjects.add"}}">
        <i class="fa fa-plus">{{localize "teus.subjects.add"}}</i>
    </a>
    {{#each subjects as |subject id|}}
    <form class="item in-sheet-item subject">
        <input class="item-field name inline-edit" data-field="name" type="text" value="{{subject.name}}">
        <div class="item-field item-controls item-id" data-item-id="{{subject._id}}">
            <a class="item-open">
                    <i class="fas fa-edit"></i>
            </a>
            <a class="item-delete">
                <i class="fas fa-trash"></i>
            </a>
        </div>
        <fieldset class="item-field">
            <label for="level-{{subject._id}}">{{localize "teus.subjects.level"}} : </label>
            <p id="level-{{subject._id}}">{{localize (lookup ../config.choices.subjectlevels subject.system.level)}}</p>
        </fieldset>
        <fieldset class="item-field">
            <label for="bonus-{{subject._id}}">{{localize "teus.subjects.bonus"}} : </label>
            <p id="bonus-{{subject._id}}">{{subject.system.bonus}}</p>
        </fieldset>
    </form>
    {{/each}}
</section>