<form>
  <div class="form-group">
    <label for="parent">{{localize "teus.rolls.with"}}</label>
    <select id="parent" type="text">
      {{#each options}}
        <option value="{{this.value}}">{{localize this.text}}</option>
      {{/each}}
    </select>
  </div>
</form>