---
title: Glyphicons Visual Test Cases
relative_path: ../
---


<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" locale="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" locale="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" locale="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en" xmlns="http://www.w3.org/1999/html"> <!--<![endif]-->
<head>
  <!-- Basic Page Needs
 ================================================== -->
  <meta charset="utf-8" />
  <title>{% if page.title %}{{ page.title }}{% endif %}</title>
  <meta name="description" content="Font Awesome, the iconic font designed for Bootstrap">
  <meta name="author" content="Dave Gandy">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--<meta name="viewport" content="initial-scale=1; maximum-scale=1">-->

  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- CSS
 ================================================== -->

  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
  <!-- Le fav and touch icons -->
  <link rel="shortcut icon" href="{{ page.relative_path }}assets/ico/favicon.ico">

  <script type="text/javascript" src="//use.typekit.net/wnc7ioh.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-30136587-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</head>
<body data-spy="scroll" data-target=".navbar">
<div class="wrapper"> <!-- necessary for sticky footer. wrap all content except footer -->

<section class="container">
<h1 class="page-header">Visual Test Cases</h1>

<h3>Icons <small>Icons should have proper alignment and not be clipped</small></h3>
<div class="row">
  <div class="col-md-3">
    <div class="well">
      <i class="glyphicon glyphicon-calendar"></i> Calendar
    </div>
  </div>
  <div class="col-md-3">
    <div class="well">
      <i class="glyphicon glyphicon-calendar glyphicon-lg"></i> Calendar Large
    </div>
  </div>
  <div class="col-md-3">
    <i class="glyphicon glyphicon-calendar"></i> Calendar
  </div>
  <div class="col-md-3">
    <i class="glyphicon glyphicon-calendar glyphicon-lg"></i> Calendar Large
  </div>
</div>
<div class="row" style="font-size: 24px; line-height: 1.5em;">
  <div class="col-md-4">
    <div class="well">
      <i class="glyphicon glyphicon-calendar"></i> Calendar
    </div>
  </div>
  <div class="col-md-4">
    <div class="well">
      <i class="glyphicon glyphicon-calendar glyphicon-lg"></i> Calendar Large
    </div>
  </div>
  <div class="col-md-4">
    <i class="glyphicon glyphicon-calendar glyphicon-lg"></i> Calendar Large
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <div class="well">
      <i class="glyphicon glyphicon-minus-sign"></i> Circle
    </div>
  </div>
  <div class="col-md-3">
    <div class="well">
      <i class="glyphicon glyphicon-minus-sign glyphicon-lg"></i> Circle Large
    </div>
  </div>
  <div class="col-md-3">
    <i class="glyphicon glyphicon-minus-sign"></i> Circle
  </div>
  <div class="col-md-3">
    <i class="glyphicon glyphicon-minus-sign glyphicon-lg"></i> Circle Large
  </div>
</div>
<div class="row" style="font-size: 24px; line-height: 1.5em;">
  <div class="col-md-4">
    <div class="well">
      <i class="glyphicon glyphicon-minus-sign"></i> Circle
    </div>
  </div>
  <div class="col-md-4">
    <div class="well">
      <i class="glyphicon glyphicon-minus-sign glyphicon-lg"></i> Circle Large
    </div>
  </div>
  <div class="col-md-4">
    <i class="glyphicon glyphicon-minus-sign glyphicon-lg"></i> Circle Large
  </div>
</div>


<h3>Links with Icons <small>icon should activate link & underline</small></h3>
<div class="row lead">
  <div class="col-md-3">
    <a href="#"><i class="glyphicon glyphicon-calendar"></i> Link Here</a>
  </div>
  <div class="col-md-3">
    <a href="#"><i class="glyphicon glyphicon-calendar glyphicon-lg"></i> Link Here</a>
  </div>
  <div class="col-md-3">
    <a href="#">Link Here <i class="glyphicon glyphicon-chevron-right"></i></a>
  </div>
  <div class="col-md-3">
    <a href="#">Link Here <i class="glyphicon glyphicon-chevron-right glyphicon-lg"></i></a>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <a href="#"><i class="glyphicon glyphicon-calendar"></i> Link Here</a>
  </div>
  <div class="col-md-3">
    <a href="#"><i class="glyphicon glyphicon-calendar glyphicon-lg"></i> Link Here</a>
  </div>
  <div class="col-md-3">
    <a href="#">Link Here <i class="glyphicon glyphicon-chevron-right"></i></a>
  </div>
  <div class="col-md-3">
    <a href="#">Link Here <i class="glyphicon glyphicon-chevron-right glyphicon-lg"></i></a>
  </div>
</div>


<h3>Navbar  <small>should stay same height </small></h3>
<nav class="navbar navbar-inverse" role="navigation">
  <a class="navbar-brand" href="#"><i class="glyphicon glyphicon-flag"></i> Font Awesome</a>
  <ul class="nav navbar-nav">
    <li style="border: solid 1px white;"><a href="#">Nav Item 1</a></li>
    <li class="dropdown" style="border: solid 1px white;">
      <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
        Nav Item 2
        <b class="caret"></b>
      </a>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#"><i class="glyphicon glyphicon-calendar"></i> Menu Item 1</a></li>
        <li><a href="#"><i class="glyphicon glyphicon-calendar glyphicon-lg"></i> Menu Item 2</a></li>
      </ul>
    </li>
    <li style="border: solid 1px white;"><a href="#examples"><i class="glyphicon glyphicon-calendar glyphicon-lg"></i> Nav Item 3</a></li>
    <li style="border: solid 1px white;"><a href="#examples"><i class="glyphicon glyphicon-envelope"></i> Nav Item 4</a></li>
    <li style="border: solid 1px white;"><a href="#examples"><i class="glyphicon glyphicon-minus-sign glyphicon-lg"></i> Nav Item 5</a></li>
    <li style="border: solid 1px white;"><a href="#examples"><i class="glyphicon glyphicon-minus-sign"></i> Nav Item 6</a></li>
  </ul>
</nav>


<h3>Plain buttons next to buttons w/icons <small>should be same height, icons not clipped</small></h3>
<h4>Buttons</h4>
<div class="row">
  <div class="col-md-6">
    <div style="border: solid 1px #d3d3d3; text-align: center;">
      <div>
        <button class="btn btn-default btn-xs">Button</button>
        <button class="btn btn-default btn-xs"><i class="glyphicon glyphicon-calendar"></i> Button</button>
        <button class="btn btn-default btn-xs"><i class="glyphicon glyphicon-calendar"></i></button>
      </div>
      <div>
        <button class="btn btn-default btn-sm">Button</button>
        <button class="btn btn-default btn-sm"><i class="glyphicon glyphicon-calendar"></i> Button</button>
        <button class="btn btn-default btn-sm"><i class="glyphicon glyphicon-calendar"></i></button>
      </div>
      <div>
        <button class="btn btn-default">Button</button>
        <button class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i> Button</button>
        <button class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i></button>
      </div>
      <div>
        <button class="btn btn-default btn-lg">Button</button>
        <button class="btn btn-default btn-lg"><i class="glyphicon glyphicon-calendar"></i> Button</button>
        <button class="btn btn-default btn-lg"><i class="glyphicon glyphicon-calendar"></i></button>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div style="border: solid 1px #d3d3d3; text-align: center;">
      <div>
        <button class="btn btn-default btn-xs">Button</button>
        <button class="btn btn-default btn-xs"><i class="glyphicon glyphicon-calendar glyphicon-lg"></i> Button</button>
        <button class="btn btn-default btn-xs"><i class="glyphicon glyphicon-calendar glyphicon-lg"></i></button>
      </div>
      <div>
        <button class="btn btn-default btn-sm">Button</button>
        <button class="btn btn-default btn-sm"><i class="glyphicon glyphicon-calendar glyphicon-lg"></i> Button</button>
        <button class="btn btn-default btn-sm"><i class="glyphicon glyphicon-calendar glyphicon-lg"></i></button>
      </div>
      <div>
        <button class="btn btn-default">Button</button>
        <button class="btn btn-default"><i class="glyphicon glyphicon-calendar glyphicon-lg"></i> Button</button>
        <button class="btn btn-default"><i class="glyphicon glyphicon-calendar glyphicon-lg"></i></button>
      </div>
      <div>
        <button class="btn btn-default btn-lg">Button</button>
        <button class="btn btn-default btn-lg"><i class="glyphicon glyphicon-calendar glyphicon-lg"></i> Button</button>
        <button class="btn btn-default btn-lg"><i class="glyphicon glyphicon-calendar glyphicon-lg"></i></button>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div style="border: solid 1px #d3d3d3; text-align: center;">
      <div>
        <button class="btn btn-default btn-xs">Button</button>
        <button class="btn btn-default btn-xs"><i class="glyphicon glyphicon-minus-sign"></i> Button</button>
        <button class="btn btn-default btn-xs"><i class="glyphicon glyphicon-minus-sign"></i></button>
      </div>
      <div>
        <button class="btn btn-default btn-sm">Button</button>
        <button class="btn btn-default btn-sm"><i class="glyphicon glyphicon-minus-sign"></i> Button</button>
        <button class="btn btn-default btn-sm"><i class="glyphicon glyphicon-minus-sign"></i></button>
      </div>
      <div>
        <button class="btn btn-default">Button</button>
        <button class="btn btn-default"><i class="glyphicon glyphicon-minus-sign"></i> Button</button>
        <button class="btn btn-default"><i class="glyphicon glyphicon-minus-sign"></i></button>
      </div>
      <div>
        <button class="btn btn-default btn-lg">Button</button>
        <button class="btn btn-default btn-lg"><i class="glyphicon glyphicon-minus-sign"></i> Button</button>
        <button class="btn btn-default btn-lg"><i class="glyphicon glyphicon-minus-sign"></i></button>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div style="border: solid 1px #d3d3d3; text-align: center;">
      <div>
        <button class="btn btn-default btn-xs">Button</button>
        <button class="btn btn-default btn-xs"><i class="glyphicon glyphicon-minus-sign glyphicon-lg"></i> Button</button>
        <button class="btn btn-default btn-xs"><i class="glyphicon glyphicon-minus-sign glyphicon-lg"></i></button>
      </div>
      <div>
        <button class="btn btn-default btn-sm">Button</button>
        <button class="btn btn-default btn-sm"><i class="glyphicon glyphicon-minus-sign glyphicon-lg"></i> Button</button>
        <button class="btn btn-default btn-sm"><i class="glyphicon glyphicon-minus-sign glyphicon-lg"></i></button>
      </div>
      <div>
        <button class="btn btn-default">Button</button>
        <button class="btn btn-default"><i class="glyphicon glyphicon-minus-sign glyphicon-lg"></i> Button</button>
        <button class="btn btn-default"><i class="glyphicon glyphicon-minus-sign glyphicon-lg"></i></button>
      </div>
      <div>
        <button class="btn btn-default btn-lg">Button</button>
        <button class="btn btn-default btn-lg"><i class="glyphicon glyphicon-minus-sign glyphicon-lg"></i> Button</button>
        <button class="btn btn-default btn-lg"><i class="glyphicon glyphicon-minus-sign glyphicon-lg"></i></button>
      </div>
    </div>
  </div>
</div>


<h4>Anchors</h4>
<div class="row">
  <div class="col-md-6">
    <div style="border: solid 1px #d3d3d3; text-align: center;">
      <div>
        <a class="btn btn-default btn-xs">Button</a>
        <a class="btn btn-default btn-xs"><i class="glyphicon glyphicon-calendar"></i> Button</a>
        <a class="btn btn-default btn-xs"><i class="glyphicon glyphicon-calendar"></i></a>
      </div>
      <div>
        <a class="btn btn-default btn-sm">Button</a>
        <a class="btn btn-default btn-sm"><i class="glyphicon glyphicon-calendar"></i> Button</a>
        <a class="btn btn-default btn-sm"><i class="glyphicon glyphicon-calendar"></i></a>
      </div>
      <div>
        <a class="btn btn-default">Button</a>
        <a class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i> Button</a>
        <a class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i></a>
      </div>
      <div>
        <a class="btn btn-default btn-lg">Button</a>
        <a class="btn btn-default btn-lg"><i class="glyphicon glyphicon-calendar"></i> Button</a>
        <a class="btn btn-default btn-lg"><i class="glyphicon glyphicon-calendar"></i></a>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div style="border: solid 1px #d3d3d3; text-align: center;">
      <div>
        <a class="btn btn-default btn-xs">Button</a>
        <a class="btn btn-default btn-xs"><i class="glyphicon glyphicon-calendar glyphicon-lg"></i> Button</a>
        <a class="btn btn-default btn-xs"><i class="glyphicon glyphicon-calendar glyphicon-lg"></i></a>
      </div>
      <div>
        <a class="btn btn-default btn-sm">Button</a>
        <a class="btn btn-default btn-sm"><i class="glyphicon glyphicon-calendar glyphicon-lg"></i> Button</a>
        <a class="btn btn-default btn-sm"><i class="glyphicon glyphicon-calendar glyphicon-lg"></i></a>
      </div>
      <div>
        <a class="btn btn-default">Button</a>
        <a class="btn btn-default"><i class="glyphicon glyphicon-calendar glyphicon-lg"></i> Button</a>
        <a class="btn btn-default"><i class="glyphicon glyphicon-calendar glyphicon-lg"></i></a>
      </div>
      <div>
        <a class="btn btn-default btn-lg">Button</a>
        <a class="btn btn-default btn-lg"><i class="glyphicon glyphicon-calendar glyphicon-lg"></i> Button</a>
        <a class="btn btn-default btn-lg"><i class="glyphicon glyphicon-calendar glyphicon-lg"></i></a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div style="border: solid 1px #d3d3d3; text-align: center;">
      <div>
        <a class="btn btn-default btn-xs">Button</a>
        <a class="btn btn-default btn-xs"><i class="glyphicon glyphicon-minus-sign"></i> Button</a>
        <a class="btn btn-default btn-xs"><i class="glyphicon glyphicon-minus-sign"></i></a>
      </div>
      <div>
        <a class="btn btn-default btn-sm">Button</a>
        <a class="btn btn-default btn-sm"><i class="glyphicon glyphicon-minus-sign"></i> Button</a>
        <a class="btn btn-default btn-sm"><i class="glyphicon glyphicon-minus-sign"></i></a>
      </div>
      <div>
        <a class="btn btn-default">Button</a>
        <a class="btn btn-default"><i class="glyphicon glyphicon-minus-sign"></i> Button</a>
        <a class="btn btn-default"><i class="glyphicon glyphicon-minus-sign"></i></a>
      </div>
      <div>
        <a class="btn btn-default btn-lg">Button</a>
        <a class="btn btn-default btn-lg"><i class="glyphicon glyphicon-minus-sign"></i> Button</a>
        <a class="btn btn-default btn-lg"><i class="glyphicon glyphicon-minus-sign"></i></a>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div style="border: solid 1px #d3d3d3; text-align: center;">
      <div>
        <a class="btn btn-default btn-xs">Button</a>
        <a class="btn btn-default btn-xs"><i class="glyphicon glyphicon-minus-sign glyphicon-lg"></i> Button</a>
        <a class="btn btn-default btn-xs"><i class="glyphicon glyphicon-minus-sign glyphicon-lg"></i></a>
      </div>
      <div>
        <a class="btn btn-default btn-sm">Button</a>
        <a class="btn btn-default btn-sm"><i class="glyphicon glyphicon-minus-sign glyphicon-lg"></i> Button</a>
        <a class="btn btn-default btn-sm"><i class="glyphicon glyphicon-minus-sign glyphicon-lg"></i></a>
      </div>
      <div>
        <a class="btn btn-default">Button</a>
        <a class="btn btn-default"><i class="glyphicon glyphicon-minus-sign glyphicon-lg"></i> Button</a>
        <a class="btn btn-default"><i class="glyphicon glyphicon-minus-sign glyphicon-lg"></i></a>
      </div>
      <div>
        <a class="btn btn-default btn-lg">Button</a>
        <a class="btn btn-default btn-lg"><i class="glyphicon glyphicon-minus-sign glyphicon-lg"></i> Button</a>
        <a class="btn btn-default btn-lg"><i class="glyphicon glyphicon-minus-sign glyphicon-lg"></i></a>
      </div>
    </div>
  </div>
</div>

<h3>Button groups <small>should be same height</small></h3>
<div class="row">
  <div class="col-md-4">
    <div style="border: solid 1px #d3d3d3;">
      <div class="btn-group">
        <button class="btn btn-default btn-lg">
          <i class="icon-adjust"></i>
        </button>
        <button class="btn btn-default btn-lg">
          Text
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div style="border: solid 1px #d3d3d3;">
      <div class="btn-group">
        <button class="btn btn-default">
          <i class="icon-adjust"></i>
        </button>
        <button class="btn btn-default">
          Text
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div style="border: solid 1px #d3d3d3;">
      <div class="btn-group">
        <button class="btn btn-default btn-sm">
          <i class="icon-adjust"></i>
        </button>
        <button class="btn btn-default btn-sm">
          Text
        </button>
      </div>
    </div>
  </div>
</div>

<h3>Buttons with pulled 2x, 3x, 4x <small>should be same height, have correct line height</small></h3>
<div class="row">
  <div class="col-md-4">
    <div style="border: solid 1px #d3d3d3;">
      <a class="btn btn-default btn-lg" href="#">
        <i class="icon-github icon-2x pull-left"></i>
        Longer<br>Button</a>
      <a class="btn btn-default btn-lg" href="#">
        Longer<br>Button</a>
    </div>
  </div>
  <div class="col-md-4">
    <div style="border: solid 1px #d3d3d3;">
      <a class="btn btn-default" href="#">
        <i class="icon-github icon-2x pull-left"></i>
        Longer<br>Button</a>
      <a class="btn btn-default" href="#">
        Longer<br>Button</a>
    </div>
  </div>
  <div class="col-md-4">
    <div style="border: solid 1px #d3d3d3;">
      <a class="btn btn-default btn-sm" href="#">
        <i class="icon-github icon-2x pull-left"></i>
        Longer<br>Button</a>
      <a class="btn btn-default btn-sm" href="#">
        Longer<br>Button</a>
    </div>
  </div>
</div>


<h3>Nav pills & nav tabs <small>should be same height and properly vertically aligned</small></h3>
<div class="row">
  <div class="col-md-9">
    <ul class="nav nav-pills" style="border: solid 1px #d3d3d3;">
      <li class="active"><a href="#">Nav Item 1</a></li>
      <li class="dropdown active">
        <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
          Nav Item 2
          <col-md- class="caret"></col-md->
        </a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#"><i class="glyphicon glyphicon-calendar"></i> Menu Item 1</a></li>
          <li><a href="#"><i class="glyphicon glyphicon-calendar glyphicon-lg"></i> Menu Item 2</a></li>
        </ul>
      </li>
      <li class="dropdown active">
        <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
          Nav Item 3
          <i class="icon-caret-down"></i>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#"><i class="glyphicon glyphicon-calendar"></i> Menu Item 1</a></li>
          <li><a href="#"><i class="glyphicon glyphicon-calendar glyphicon-lg"></i> Menu Item 2</a></li>
        </ul>
      </li>
      <li class="active"><a href="#examples"><i class="glyphicon glyphicon-calendar glyphicon-lg"></i> Nav Item 4</a></li>
      <li class="active"><a href="#examples"><i class="icon-spinner icon-spin"></i> Nav Item 5</a></li>
      <li class="active"><a href="#examples"><i class="glyphicon glyphicon-minus-sign glyphicon-lg"></i> Nav Item 6</a></li>
      <li class="active"><a href="#examples"><i class="glyphicon glyphicon-minus-sign"></i> Nav Item 7</a></li>
    </ul>
    <ul class="nav nav-tabs">
      <li class="active"><a href="#">Nav Item 1</a></li>
      <li class="dropdown active">
        <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
          Nav Item 2
          <col-md- class="caret"></col-md->
        </a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#"><i class="glyphicon glyphicon-calendar"></i> Menu Item 1</a></li>
          <li><a href="#"><i class="glyphicon glyphicon-calendar glyphicon-lg"></i> Menu Item 2</a></li>
        </ul>
      </li>
      <li class="dropdown active">
        <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
          Nav Item 3
          <i class="icon-caret-down"></i>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#"><i class="glyphicon glyphicon-calendar"></i> Menu Item 1</a></li>
          <li><a href="#"><i class="glyphicon glyphicon-calendar glyphicon-lg"></i> Menu Item 2</a></li>
        </ul>
      </li>
      <li class="active"><a href="#examples"><i class="glyphicon glyphicon-calendar glyphicon-lg"></i> Nav Item 4</a></li>
      <li class="active"><a href="#examples"><i class="icon-spinner icon-spin"></i> Nav Item 5</a></li>
      <li class="active"><a href="#examples"><i class="glyphicon glyphicon-minus-sign glyphicon-lg"></i> Nav Item 6</a></li>
      <li class="active"><a href="#examples"><i class="glyphicon glyphicon-minus-sign"></i> Nav Item 7</a></li>
    </ul>
  </div>
  <div class="col-md-3">
    <ul class="nav nav-list">
      <li>
        <a href="#c1">
          <i class="icon-chevron-right icon-fixed-width pull-right"></i> Overview
        </a>
      </li>
      <li>
        <a href="#c1">
          Overview
          <i class="icon-chevron-right icon-fixed-width pull-right"></i>
        </a>
      </li>
    </ul>
  </div>
</div>



<h3>2x, 3x, 4x icons in text <small>should have margins next to and below text</small></h3>
<div class="row">
  <div class="col-md-6">
    <p class="lead">
      <i class="icon-stethoscope icon-3x pull-left icon-border"></i>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam et lectus id nisl hendrerit varius. Aliquam erat volutpat. Suspendisse potenti. Aliquam erat volutpat. Aliquam ut dolor lectus.
    </p>
  </div>
  <div class="col-md-6">
    <p class="lead">
      <i class="icon-ambulance icon-4x pull-right icon-border"></i>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam et lectus id nisl hendrerit varius. Aliquam erat volutpat. Suspendisse potenti. Aliquam erat volutpat. Aliquam ut dolor lectus.
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <i class="glyphicon glyphicon-calendar icon-2x pull-left icon-border"></i>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam et lectus id nisl hendrerit varius. Aliquam erat volutpat. Suspendisse potenti. Aliquam erat volutpat. Aliquam ut dolor lectus.
  </div>
  <div class="col-md-4">
    <i class="icon-stethoscope icon-3x pull-right icon-border"></i>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam et lectus id nisl hendrerit varius. Aliquam erat volutpat. Suspendisse potenti. Aliquam erat volutpat. Aliquam ut dolor lectus.
  </div>
  <div class="col-md-4">
    <i class="icon-ambulance icon-4x pull-left"></i>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam et lectus id nisl hendrerit varius. Aliquam erat volutpat. Suspendisse potenti. Aliquam erat volutpat. Aliquam ut dolor lectus.
  </div>
</div>


<h3>Bullets <small>should wrap appropriately, have proper spacing</small></h3>
<div class="row">
  <div class="col-md-6">
    <div style="border: solid 1px #d3d3d3;">
      <ul class="icons-ul">
        <li><i class="icon-li glyphicon glyphicon-chevron-right"></i>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
        <li><i class="icon-li icon-arrow-right"></i>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam et lectus id nisl hendrerit varius. Aliquam erat volutpat. Suspendisse potenti. Aliquam erat volutpat. Aliquam ut dolor lectus.</li>
        <li><i class="icon-li glyphicon glyphicon-calendar"></i>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          <i class="glyphicon glyphicon-calendar"></i>
          <col-md- class="label">foo</col-md->
          <a class="btn btn-default">foo</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-md-6">
    <div style="border: solid 1px #d3d3d3;">
      <ul class="icons-ul">
        <li><i class="icon-li glyphicon glyphicon-chevron-right glyphicon-lg"></i>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
        <li><i class="icon-li icon-arrow-right glyphicon-lg"></i>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam et lectus id nisl hendrerit varius. Aliquam erat volutpat. Suspendisse potenti. Aliquam erat volutpat. Aliquam ut dolor lectus.</li>
        <li><i class="icon-li glyphicon glyphicon-calendar glyphicon-lg"></i>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div style="border: solid 1px #d3d3d3;">
      <ul class="icons-ul lead">
        <li><i class="icon-li glyphicon glyphicon-chevron-right"></i>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
        <li><i class="icon-li icon-arrow-right"></i>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam et lectus id nisl hendrerit varius. Aliquam erat volutpat. Suspendisse potenti. Aliquam erat volutpat. Aliquam ut dolor lectus.</li>
        <li><i class="icon-li glyphicon glyphicon-calendar"></i>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
      </ul>
    </div>
  </div>
  <div class="col-md-6">
    <div style="border: solid 1px #d3d3d3;">
      <ul class="icons-ul lead">
        <li><i class="icon-li glyphicon glyphicon-chevron-right glyphicon-lg"></i>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
        <li><i class="icon-li icon-arrow-right glyphicon-lg"></i>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam et lectus id nisl hendrerit varius. Aliquam erat volutpat. Suspendisse potenti. Aliquam erat volutpat. Aliquam ut dolor lectus.</li>
        <li><i class="icon-li glyphicon glyphicon-calendar glyphicon-lg"></i>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div style="border: solid 1px #d3d3d3;">
      <ul class="icons-ul">
        <li><a href="#"><i class="icon-li glyphicon glyphicon-chevron-right"></i></a>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
        <li><a href="#"><i class="icon-li icon-arrow-right"></i></a>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam et lectus id nisl hendrerit varius. Aliquam erat volutpat. Suspendisse potenti. Aliquam erat volutpat. Aliquam ut dolor lectus.</li>
        <li><a href="#"><i class="icon-li glyphicon glyphicon-calendar"></i></a>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
      </ul>
    </div>
  </div>
  <div class="col-md-6">
    <div style="border: solid 1px #d3d3d3;">
      <ul class="icons-ul">
        <li><a href="#"><i class="icon-li glyphicon glyphicon-chevron-right glyphicon-lg"></i></a>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
        <li><a href="#"><i class="icon-li icon-arrow-right glyphicon-lg"></i></a>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam et lectus id nisl hendrerit varius. Aliquam erat volutpat. Suspendisse potenti. Aliquam erat volutpat. Aliquam ut dolor lectus.</li>
        <li><a href="#"><i class="icon-li glyphicon glyphicon-calendar glyphicon-lg"></i></a>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div style="border: solid 1px #d3d3d3;">
      <ul class="icons-ul">
        <li><i class="icon-li icon-refresh icon-spin"></i>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
        <li><i class="icon-li icon-spinner icon-spin"></i>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam et lectus id nisl hendrerit varius. Aliquam erat volutpat. Suspendisse potenti. Aliquam erat volutpat. Aliquam ut dolor lectus.</li>
        <li><i class="icon-li icon-spinner icon-spin"></i>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          <i class="glyphicon glyphicon-calendar"></i>
          <col-md- class="label">foo</col-md->
          <a class="btn btn-default">foo</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-md-6">
    <div style="border: solid 1px #d3d3d3;">
      <ul class="icons-ul">
        <li><i class="icon-li icon-refresh icon-spin glyphicon-lg"></i>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
        <li><i class="icon-li icon-spinner icon-spin glyphicon-lg"></i>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam et lectus id nisl hendrerit varius. Aliquam erat volutpat. Suspendisse potenti. Aliquam erat volutpat. Aliquam ut dolor lectus.</li>
        <li><i class="icon-li icon-spinner icon-spin glyphicon-lg"></i>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          <i class="glyphicon glyphicon-calendar"></i>
          <col-md- class="label">foo</col-md->
          <a class="btn btn-default">foo</a>
        </li>
      </ul>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-6">
    <div style="border: solid 1px #d3d3d3;">
      <ul>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam et lectus id nisl hendrerit varius. Aliquam erat volutpat. Suspendisse potenti. Aliquam erat volutpat. Aliquam ut dolor lectus.</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
      </ul>
    </div>
  </div>
  <div class="col-md-6">
    <div style="border: solid 1px #d3d3d3;">
      <ul>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam et lectus id nisl hendrerit varius. Aliquam erat volutpat. Suspendisse potenti. Aliquam erat volutpat. Aliquam ut dolor lectus.</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
      </ul>
    </div>
  </div>
</div>


<h3>Spinning icons <small>icons should be aligned well and on center, buttons should be same height, won't work in ie7</small></h3>
<div style="border: solid 1px #d3d3d3;">
  <i class="icon-refresh icon-spin"></i> Loading...
  <button class="btn btn-default btn-sm"><i class="icon-refresh icon-spin"></i> Loading...</button>
  <button class="btn btn-default btn-sm">Loading...</button>
  <i class="glyphicon glyphicon-minus-sign-blank icon-spin"></i> Loading...
  <button class="btn btn-default btn-sm"><i class="glyphicon glyphicon-minus-sign-blank icon-spin"></i> Loading...</button>
  <a href="#"><i class="icon-refresh icon-spin"></i> Loading...</a>
</div>
<div style="border: solid 1px #d3d3d3;">
  <i class="icon-refresh icon-spin"></i> Loading...
  <button class="btn btn-default"><i class="icon-refresh icon-spin"></i> Loading...</button>
  <button class="btn btn-default">Loading...</button>
  <i class="glyphicon glyphicon-minus-sign-blank icon-spin"></i> Loading...
  <button class="btn btn-default"><i class="glyphicon glyphicon-minus-sign-blank icon-spin"></i> Loading...</button>
</div>
<div style="border: solid 1px #d3d3d3;">
  <i class="icon-spinner icon-spin"></i> Loading...
  <button class="btn btn-default btn-lg"><i class="icon-spinner icon-spin"></i> Loading...</button>
  <button class="btn btn-default btn-lg">Loading...</button>
  <i class="glyphicon glyphicon-minus-sign-blank icon-spin"></i> Loading...
  <button class="btn btn-default btn-lg"><i class="glyphicon glyphicon-minus-sign-blank icon-spin"></i> Loading...</button>
</div>
<h4>glyphicon-lg</h4>
<div style="border: solid 1px #d3d3d3;">
  <i class="icon-refresh glyphicon-lg icon-spin"></i> Loading...
  <button class="btn btn-default btn-sm"><i class="icon-refresh glyphicon-lg icon-spin"></i> Loading...</button>
  <button class="btn btn-default btn-sm">Loading...</button>
  <i class="glyphicon glyphicon-minus-sign-blank glyphicon-lg icon-spin"></i> Loading...
  <button class="btn btn-default btn-sm"><i class="glyphicon glyphicon-minus-sign-blank glyphicon-lg icon-spin"></i> Loading...</button>
</div>
<div style="border: solid 1px #d3d3d3;">
  <i class="icon-refresh glyphicon-lg icon-spin"></i> Loading...
  <button class="btn btn-default"><i class="icon-refresh glyphicon-lg icon-spin"></i> Loading...</button>
  <button class="btn btn-default">Loading...</button>
  <i class="glyphicon glyphicon-minus-sign-blank glyphicon-lg icon-spin"></i> Loading...
  <button class="btn btn-default"><i class="glyphicon glyphicon-minus-sign-blank glyphicon-lg icon-spin"></i> Loading...</button>
</div>
<div style="border: solid 1px #d3d3d3;">
  <i class="icon-spinner glyphicon-lg icon-spin"></i> Loading...
  <button class="btn btn-default btn-lg"><i class="icon-spinner glyphicon-lg icon-spin"></i> Loading...</button>
  <button class="btn btn-default btn-lg">Loading...</button>
  <i class="glyphicon glyphicon-minus-sign-blank glyphicon-lg icon-spin"></i> Loading...
  <button class="btn btn-default btn-lg"><i class="glyphicon glyphicon-minus-sign-blank glyphicon-lg icon-spin"></i> Loading...</button>
</div>
<h4>Bootstrap Prepend and Append</h4>
<div class="row">
  <div class="col-md-6">
    <div class="input-prepend">
      <col-md- class="add-on"><i class="icon-spinner icon-spin"></i></col-md->
      <input class="col-md-2" id="prependedInput" type="text" placeholder="Username">
    </div>
  </div>
  <div class="col-md-6">
    <div class="input-append">
      <input class="col-md-2" id="appendedInput" type="text">
      <col-md- class="add-on"><i class="icon-spinner icon-spin"></i></col-md->
    </div>
  </div>
</div>

<h3>Stacked icons</h3>
<div class="well">
  {% include tests/stacked.html %}
</div>
<div class="well lead">
  {% include tests/stacked.html %}
</div>
<h4>Stacked icons inside anchor</h4>
<div class="well">
  {% include tests/stacked-inside-anchor.html %}
</div>


<h3>Mirrored and rotated icons</h3>
<div class="row">
  <div class="col-md-6">
    <div class="well">
      {% include tests/rotated-flipped.html %}
    </div>
  </div>
  <div class="col-md-6">
    <div class="well lead">
      {% include tests/rotated-flipped.html %}
    </div>
  </div>
</div>
<h4>Mirrored and rotated icons inside anchors and buttons</h4>
<div class="row">
  <div class="col-md-6">
    <div class="well">
      {% include tests/rotated-flipped-inside-anchor.html %}
    </div>
  </div>
  <div class="col-md-6">
    <div class="well">
      {% include tests/rotated-flipped-inside-btn.html %}
    </div>
  </div>
</div>

</section>

  <div class="push"><!-- necessary for sticky footer --></div>
</div>

<script src="http://platform.twitter.com/widgets.js"></script>
<script src="{{ page.relative_path }}assets/js/jquery-1.7.1.min.js"></script>
<script src="{{ page.relative_path }}assets/js/ZeroClipboard-1.1.7.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

</body>
</html>


