<form class="{{cssClass}}" autocomplete="off">

    {{!-- Sheet Header --}}

    <section class="teus container identity">
        <div id="picture-box">
            <img class="main-picture" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="64" width="64"/>
        </div>
        <div id="name-box">
            <input id="actorname" name="name" type="text" value="{{actor.name}}" placeholder="{{ localize 'Name' }}"/>
        </div>
        <div id="age-box">
            <label for="system.age" class="resource-label">{{localize "teus.identity.age"}}: </label>
            <input id="system.age" name="system.age.value" type="text" value="{{system.age.value}}" data-dtype="Number">
        </div>
        <div id="blood-box">
            <label for="system.blood">{{localize "teus.identity.blood"}}: </label>
            <select id="system.blood" type="text" name="system.blood" value="{{system.blood}}">
                {{#select system.blood}}
                    <option value="unknown">{{localize "teus.choices.unknown"}}</option>
                    {{#each config.choices.bloods}}
                        <option value="{{@key}}">{{localize this}}</option>
                    {{/each}}
                {{/select}}
            </select>
        </div>
        <div id="richness-box">
            <label for="richness">{{localize "teus.identity.richness"}}: </label>
            <input id="richness" type="text" name="system.richness" value="{{system.richness}}" data-dtype="Number">
        </div>
        <div id="ambition-box">
            <label for="ambition">{{localize "teus.identity.ambition"}}: </label>
            <input id="ambition" type="text" name="system.ambition" value="{{system.ambition}}">
        </div>
        <div id="birthdate-box">
            <label for="birthdate-box">{{localize "teus.identity.birthdate"}}: </label>
            <input id="birthdate" type="text" name="system.birthdate" value="{{system.birthdate}}">
        </div>
        <div id="birthplace-box">
            <label for="birthplace">{{localize "teus.identity.birthplace"}}: </label>
            <input id="birthplace" type="text" name="system.birthplace" value="{{system.birthplace}}">
        </div>
    </section>
    <section class="teus wands">
        <h2>{{localize "teus.sections.wand"}}</h2>
        {{> "systems/teus/templates/partials/student-wands-block.html"}}
    </section>
    <section class="teus scolarity">
        <h2>{{localize "teus.sections.scolarity"}}</h2>
        {{> "systems/teus/templates/partials/student-schools-block.html"}}
    </section>
    <section class="sheettabs">
        <input id="sheettabcarac" type="radio" name="sheettab" checked="checked">
        <label class="tablabel" for="sheettabcarac">{{localize "teus.tabs.caracs"}}</label>
        <div class="sheettab">
            <section class="teus characteristics">
                <div class="container capacity-container">
                    {{#each config.capacities}}
                      <div id="{{@key}}-box" class="capacity-box">
                          <label for="{{@key}}">{{localize this.text}} :</label>
                          <input id="{{@key}}" type="text" name="{{@key}}" value="{{lookup ../system @key}}">/{{lookup ../system this.parentAttribute}}
                    </div>
                    {{/each}}
                </div>
                <div class="container attributes-container">
                    <div id="magic-box" class="attribute-box">
                        <a class="magic-mod rollable" data-type="magic" data-label="{{localize config.magic}}" data-name="magic"><i class="fas fa-dice-d20"></i></a>
                        <label for="system.magic" class="attribute magic">{{localize config.magic}} :</label>
                        <input class="attribute magic" id="system.magic" type="text" name="system.magic" value="{{system.magic}}" data-type="Number">
                    </div>
                    {{#each config.attributes}}
                      <div id="{{@key}}-box" class="attribute-box">
                          <a class="{{@key}}-mod rollable" data-type="attribute" data-label="{{localize this}}" data-name="{{@key}}"><i class="fas fa-dice-d20"></i></a>
                          <label for="{{@key}}" class="attribute characteristic">{{localize this}} :</label>
                          <input class="attribute characteristic" id="{{@key}}" type="text" name="system.{{@key}}" value="{{lookup ../system @key}}" data-type="Number">
                      </div>
                    {{/each}}
                    {{#each config.skills}}
                      <div id="{{@key}}-box" class="attribute-box">
                        <a class="{{@key}}-mod rollable" data-type="skill" data-label="{{localize this.text}}" data-name="{{@key}}" data-parents="{{this.parentAttributes}}"><i class="fas fa-dice-d20"></i></a>
                        <label class="attribute skill">{{localize this.text}} : </label>
                        <input class="attribute skill" id="{{@key}}" type="text" name="system.{{@key}}" value="{{lookup ../system @key}}" data-type="Number">
                      </div>
                    {{/each}}
                </div>
                <div class="container consequences-container">
                    <div class="container container-header">
                        <h2>{{localize "teus.tabs.consequences"}}</h2>
                    </div>
                    <a class="item-create" data-type="consequence" title="{{localize "teus.consequences.add"}}">
                        <i class="fa fa-plus">{{localize "teus.consequences.add"}}</i>
                    </a>
                    <table>
                        <tr class="consequences-header">
                            <th>{{localize "teus.consequences.name"}}</th>
                            <th>{{localize "teus.commons.description"}}</th>
                            <th>{{localize "teus.consequences.importance"}}</th>
                            <th>{{localize "teus.consequences.permanent"}}</th>
                            <th></th>
                        </tr>
                        {{#each consequences as |consequence id|}}
                            <tr class="tab-row item in-sheet-item consequence item-id" data-item-id="{{consequence._id}}">
                                <td><input class="item-field name inline-edit" data-field="name" type="text" value="{{consequence.name}}"/></td>
                                <td><p class="item-field">{{{consequence.system.description}}}</p></td>
                                <td><p class="item-field">{{localize (lookup ../config.choices.consequencestypes consequence.system.importance)}}</p></td>
                                <td><input disabled="true" type="checkbox" data-dtype="Boolean" {{checked consequence.system.permanent}} /></td>
                                <td class="item-field item-controls">
                                    <a class="item-open">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    <a class="item-delete">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        {{/each}}
                    </table>
                </div>
            </section>
        </div>
        <input id="sheettabtraits" type="radio" name="sheettab">
        <label class="tablabel" for="sheettabtraits">{{localize "teus.tabs.features"}}</label>
        <div class="sheettab feats">
            {{> "systems/teus/templates/partials/student-features-block.html"}}
            {{> "systems/teus/templates/partials/student-friendcards-block.html"}}
        </div>
        <input id="sheettabspells" type="radio" name="sheettab">
        <label class="tablabel" for="sheettabspells">{{localize "teus.tabs.spells"}}</label>
        <div class="sheettab spells">
            {{> "systems/teus/templates/partials/student-spells-block.html"}}
        </div>
        <input id="sheettabsubject" type="radio" name="sheettab">
        <label class="tablabel" for="sheettabsubject">{{localize "teus.tabs.subjects"}}</label>
        <div class="sheettab subjects">
            {{> "systems/teus/templates/partials/student-subjects-block.html"}}
        </div>
        <input id="sheettabpotions" type="radio" name="sheettab">
        <label class="tablabel" for="sheettabpotions">{{localize "teus.tabs.potions"}}</label>
        <div class="sheettab potions">
            {{> "systems/teus/templates/partials/student-potions-block.html"}}
        </div>
        <input id="sheettabinventory" type="radio" name="sheettab">
        <label class="tablabel" for="sheettabinventory">{{localize "teus.tabs.inventory"}}</label>
        <div class="sheettab inventory">
            {{> "systems/teus/templates/partials/student-inventory-block.html"}}
        </div>
    </section>
</form>
