.capacity-container {
    border-bottom: 1px solid var(--color-underline-header);
    font-weight: bold;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 40px;

    div {
        text-align: center;
    }

    input {
        width: 15%;
    }

    #energy-box label {
        color: $bodyColor;
    }

    #erudition-box label {
        color: $spiritColor;
    }

    #friends-box label {
        color: $heartColor;
    }
}

.attributes-container {
    padding-top: 10px;
    display: grid;
    grid-template-areas:
    ". . . . spirit spirit spirit . . . ."
    ". . . bluff bluff . stamina stamina . . ."
    ". . farce farce . . . fight fight . ."
    ". tactique tactique . magic magic magic . perception perception ."
    "rumor rumor . . magic magic magic . . precision precision"
    "heart . . . . . . . . . body"
    "decorum decorum . stealth stealth . persuasion persuasion . relation relation";
    grid-auto-rows: 45px;

    div {
        text-align: center;
    }

    input {
        width: 25%;
    }

    #magic-box {
        grid-area: magic;
        font-weight: bold;
    }

    #spirit-box {
        grid-area: spirit;
        color: $spiritColor;
        font-weight: bold;
    }

    #heart-box {
        grid-area: heart;
        color: $heartColor;
        font-weight: bold;
    }

    #body-box {
        grid-area: body;
        color: $bodyColor;
        font-weight: bold;
    }

    #magic-box {
        color: $magicColor;
    }

    #bluff-box {
        grid-area: bluff;
    }

    #farce-box {
        grid-area: farce;
    }

    #tactique-box {
        grid-area: tactique;
    }

    #rumor-box {
        grid-area: rumor;
    }

    #stamina-box {
        grid-area: stamina;
    }

    #fight-box {
        grid-area: fight;
    }

    #perception-box {
        grid-area: perception;
    }

    #precision-box {
        grid-area: precision;
    }

    #decorum-box {
        grid-area: decorum;
    }

    #stealth-box {
        grid-area: stealth;
    }

    #persuasion-box {
        grid-area: persuasion;
    }

    #relation-box {
        grid-area: relation;
    }
}
