<form class="{{cssClass}} item subjects" autocomplete="off">
  <header class="sheet-header">
      <h1><input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'Name' }}"/></h1>
  </header>
  <div class="teus subjects">
    <table>
      <tr>
        <th>{{localize "teus.consequences.importance"}}</th>
        <th>{{localize "teus.consequences.permanent"}}</th>
      </tr>
      <tr>
        <td>
          <select id="system.importance" type="text" name="system.importance"  data-dtype="text">
          {{#each config.choices.consequencestypes}}
            <option value="{{@key}}">{{localize this}}</option>
          {{/each}}
          </select>
        </td>
        <td><input name="system.permanent" type="checkbox" data-dtype="Boolean" {{checked system.permanent}} /></td>
      </tr>
    </table>
    <form>
      <label>{{localize "teus.commons.description"}} : </label>
      {{editor system.description target="system.description" button=true owner=owner editable=editable}}
    </form>
  </div>
</form>
