<form class="{{cssClass}} item features" autocomplete="off">
  <header class="sheet-header">
      <h1><input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'Name' }}"/></h1>
  </header>
  <div class="teus features">
    <form>
      <label for="feature-{{item._id}}">{{localize "teus.features.price"}} : </label>
      <input id="feature-{{item._id}}" name="system.price" type="text" value="{{system.price}}" data-dtype="Number" />
      <div>
        {{editor system.description target="system.description" button=true owner=owner editable=editable}}
      </div>
    </form>
  </div>
</form>
