<form class="{{cssClass}} item friendcards" autocomplete="off">
    <header class="sheet-header">
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'Name'}}" /></h1>
    </header>
    <div class="teus friendcard">
        <label for="item-special-{{item._id}}">{{localize "teus.friendcards.special"}} : </label>
        <input id="item-special-{{item._id}}" name="system.special" type="checkbox" data-dtype="Boolean" {{checked system.special}} />
        <label for="item-traits-{{item._id}}">{{localize "teus.friendcards.traits"}} : </label>
        {{editor system.traits target="system.traits" button=true owner=owner editable=editable}}
    </div>
</form>