<form class="{{cssClass}} item inventory" autocomplete="off">
    <header class="sheet-header">
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'Name'}}" /></h1>
    </header>
    <div class="teus inventory">
        <label for="item-quantity-{{item._id}}">{{localize "teus.inventory.quantity"}} : </label>
        <input id="item-quantity-{{item._id}}" name="system.quantity" type="text" value="{{system.quantity}}" data-dtype="text"/>
        <label for="item-description-{{item._id}}">{{localize "teus.commons.description"}} : </label>
        {{editor system.description target="system.description" button=true owner=owner editable=editable}}
    </div>
</form>