<form class="item potions" autocomplete="off">
  <header class="sheet-header">
      <h1><input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'Name' }}"/></h1>
  </header>
  <div class="teus potions">
    <table>
      <tr>
        <th>{{localize "teus.commons.level"}}</th>
        {{#if actor}}
          <th>{{localize "teus.commons.mastered"}}</th>
        {{/if}}
      </tr>
      <tr>
        <td>
          <input name="system.level" type="text" value="{{system.level}}" data-dtype="Number"/>
        </td>
        {{#if actor}}
          <td><input name="system.mastered" type="checkbox" data-dtype="Boolean" {{checked system.mastered}} /></td>
        {{/if}}
      </tr>
    </table>
    <form>
      <label>{{localize "teus.commons.effect"}} : </label>
      {{editor system.effect target="system.effect" button=true owner=owner editable=editable}}
    </form>
  </div>
</form>
