<form class="{{cssClass}} item schools" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'Name' }}"/></h1>
    </header>
    {{#if actor}}
        <fieldset>
            <label for="school-year-{{item._id}}">{{localize "teus.schools.year"}} : </label>
            <input id="school-year-{{item._id}}" name="system.year" type="text" value="{{system.year}}" data-dtype="Number" />
        </fieldset>
    {{/if}}
    <fieldset class="short">
        <label>{{localize "teus.schools.short_description"}} : </label>
        {{editor system.short_description target="system.short_description" button=true owner=owner editable=editable}}
    </fieldset>
    <fieldset class="long">
        <label>{{localize "teus.schools.long_description"}} : </label>
        {{editor system.long_description target="system.long_description" button=true owner=owner editable=editable}}
    </fieldset>
</form>
