<form class="item spells" autocomplete="off">
  <header class="sheet-header">
      <h1><input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'Name' }}"/></h1>
  </header>
  <div class="teus spells">
    <table>
      <tr class="tab-header">
        <th>{{localize "teus.spells.formula"}}</th>
        <th>{{localize "teus.commons.level"}}</th>
        <th>{{localize "teus.spells.type"}}</th>
        <th>{{localize "teus.spells.targets"}}</th>
        {{#if actor}}
          <th>{{localize "teus.commons.mastered"}}</th>
          <th>{{localize "teus.spells.favorite"}}</th>
        {{/if}}
      </tr>
      <tr class="tab-row">
        <td><input name="system.formula" type="text" value="{{system.formula}}" data-dtype="text"/></td>
        <td><input name="system.level" type="text" value="{{system.level}}" data-dtype="Number" /></td>
        <td>
          <select id="system.type" type="text" name="system.type" value="{{system.type}}" data-dtype="text">
            {{#select system.type}}
              <option value="unknown">{{localize "teus.choices.unknown"}}</option>
              {{#each config.choices.spelltypes}}
                <option value="{{@key}}">{{localize this}}</option>
              {{/each}}
            {{/select}}
          </select>
        </td>
        <td><input name="system.targets" type="text" value="{{system.targets}}" data-dtype="text"/></td>
        {{#if actor}}
          <td><input name="system.mastered" type="checkbox" data-dtype="Boolean" {{checked system.mastered}} /></td>
          <td><input name="system.favorite" type="checkbox" data-dtype="Boolean" {{checked system.favorite}} /></td>
        {{/if}}
      </tr>
    </table>
    <section>
      <label for="spell-{{item._id}}">{{localize "teus.commons.effect"}} : </label>
      <div id="spell-{{item._id}}">
        {{editor system.effect target="system.effect" button=true owner=owner editable=editable}}
      </div>
    </section>
    <form class="teus spells legend">
      <label for="targets-legend">{{localize "teus.spells.legendlabel"}}</label>
      <p id="targets-legend">{{localize "teus.spells.legend"}}</p>
    </form>
  </div>
</form>