<form class="{{cssClass}} item subjects" autocomplete="off">
  <header class="sheet-header">
      <h1><input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'Name' }}"/></h1>
  </header>
  <div class="teus subjects">
    {{#if actor}}
    <table>
      <tr>
        <th>{{localize "teus.subjects.level"}}</th>
        <th>{{localize "teus.subjects.bonus"}}</th>
      </tr>
      <tr>
        <td>
          <select id="system.level" type="text" name="system.level" value="{{config.choices.subjectlevels.average}}" data-dtype="text">
          {{#each config.choices.subjectlevels}}
            <option value="{{@key}}">{{localize this}}</option>
          {{/each}}
          </select>
        </td>
        <td><input name="system.bonus" type="text" value="{{system.bonus}}" data-dtype="Number"/></td>
      </tr>
    </table>
    {{/if}}
    <form>
      <label>{{localize "teus.commons.description"}} : </label>
      {{editor system.description target="system.description" button=true owner=owner editable=editable}}
    </form>
  </div>
</form>
