<form class="{{cssClass}} item wands" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'Name' }}"/></h1>
    </header>
    <label for="wand-wood-{{item._id}}">{{localize "teus.wands.wood"}} : </label>
    <input id="wand-wood-{{item._id}}" name="system.wood" type="text" value="{{system.wood}}" data-dtype="text" />
    <label for="wand-length-{{item._id}}">{{localize "teus.wands.length"}} : </label>
    <input id="wand-length-{{item._id}}" name="system.length" type="text" value="{{system.length}}" data-dtype="Number" />
    <label for="wand-heart-{{item._id}}">{{localize "teus.wands.heart"}} : </label>
    <input id="wand-heart-{{item._id}}" name="system.wheart" type="text" value="{{system.wheart}}" data-dtype="text" />
    <label for="wand-flexibility-{{item._id}}">{{localize "teus.wands.flexibility"}} : </label>
    <input id="wand-flexibility-{{item._id}}" name="system.flexibility" type="text" value="{{system.flexibility}}" data-dtype="text" />
</form>
